version: '3.8'
services:
  db:
    image: postgres:15
    container_name: journal-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: work_journal
    volumes:
      - ./postgres_data:/var/lib/postgresql/data